notifications:
  email: false
language: python
sudo: required
dist: xenial
python:
  # We don't actually use the Travis Python, but this keeps it organized.
  - "3.5"
  - "3.6"
  - "3.7"
install:
  - sudo apt-get update
  - pip install -r requirements.txt
  - pip install -e .
script: make pep
script: pytest tests/ --cov=meegkit --cov-report=xml
# after_success:
#   - bash <(curl -s https://codecov.io/bash)
