numpy
scipy
matplotlib
scikit-learn
sphinx
pillow
sphinx-gallery
joblib
numpydoc
flake8
pytest
pytest-cov
codecov
codespell
pydocstyle
tqdm
statsmodels
git+git://github.com/ErikBjare/pyRiemann.git@1ecaa372b7c432f13e82685b2541ee48424a11c9#egg=pyriemann
