name: docs

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

# workflow_dispatch: # Uncomment line to be able to trigger action manually

jobs:
  sphinx_docs_to_gh-pages:
    runs-on: ubuntu-latest
    name: deploy to gh-pages
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
          cache: "pip"
      - name: Install meegkit and dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -e .[docs]
      - name: Build HTML
        run: |
          cd doc/
          make html
      - name: Run ghp-import
        run: |
          ghp-import -n -p -f doc/_build/html
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
